html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  align-items: center;
  background-color: darkolivegreen;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 3em;
}

.kamiya-style {
  font-style: italic;
}

.menu-selector {
  background-color: aquamarine;
  border: 2px solid blue;
}

.header-style {
  text-align: center;
  color: darkgreen;
  font-size: 110%;
}

.ol-text {
  color: darkslategray;
  font-weight: bold;
  font-size: 105%;
}

.paragraph-section {
  background-color:  darkgray;
  border: 2px solid black;
}

#paragraph-style {
  background-color: darkslateblue;
}

#history-paragraph-style {
  background-color: darkslateblue;
}

#my-history-paragraph-style {
  background-color: rgba(139, 61, 78, 0.788);
}

p {
  text-align: center;
  margin: 1em;
  padding: 1em;
}

img {
  display: flex;
  box-align: center; /* TODO FIX */
  border: 2px solid black;
  height: 50%;
  width: 50%;
}