html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-color: #F1F3F2;
}

/* nav bar */
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #24292E;
  margin: 0;
  border-bottom: white solid;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
}

.menu-selector {
  color: white;
  text-decoration: none;
}

li {
  margin: 0.5em;
  list-style: none;
}

h1 {
  font-size: 1.5em;
  margin: 0.5em;
  color: wheat;
}

a {
  border-radius: 0.8em;
}

h2 {
  font-size: 3em;
}

/* intro container */
.intro {
  border: black solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0em;
}

.header-style {
  text-align: center;
  color: darkgreen;
  font-size: 110%;
}

.ol-text {
  color: darkslategray;
  font-weight: bold;
  font-size: 105%;
}

.intro-section {
  background-color: darkgray;
  margin: 2em;
  width: 20em;
  height: 10em;
  padding:1em;
  text-align: center;
  border-radius: 0.8em;
}

/* main content class */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
  opacity: 0.2em;
}

.p-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.2em;
}

.p1-style {
  width: 40em;
}
.paragraph-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.2em;
  background-color: wheat;
  text-align: center;
  opacity: 0.7;
}

p {
  text-align: center;
}

.pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 20em;
  height: 20em;
  box-align: center;
  border: 2px solid black;
  border-radius: 0.3em;
}

/* footer */
#next-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------------------------NEXT PAGE----------------------- */
/* */

/* Banner */
.kamiya-style {
  font-style: italic;
}

/* Header */
.pg2-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* main content for pg 2 */
.pg2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pg2-model {
  display: flex;
  flex-direction: row;
  justify-content: center;
}